<div class="w3-container">
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
	<br><button onclick="toggleModal()" style="display: block; margin: auto;">Toggle "Create New Node"/"Connect Existing Node"</button><br>
	<form id="createNewNodeWithConnToNodeModalForm" action="/createNewNodeWithConnToNode" method="post" style="display: block">
		<table>
			<tr>
				<th colspan="2"><label>Create new node:</label></th>
			</tr>
			<tr>
				<th><label for="addNodeModal_toNodeId">Arguing regarding the following node:</label></th><th><input type="number" id="addNodeModal_toNodeId" name="toNodeId" value=""></th>
			</tr>
			<tr>
				<th><label for="addNodeModal_claim">Claim (1 for support, 0 for oppose):</label></th><th><input type="number" id="addNodeModal_claim" name="claim" value=""></th>
			</tr>
			<tr>
				<th colspan="2" ><br><label for="new_node_content" style="text-align: center">Content:</label></th>
			</tr>
			<tr>
				<th colspan="2" ><input type="text" id="new_node_content" name="content" style="text-align: center"><th>
			</tr>
		</table>
		<br>
		<input type="submit" value="Submit">
		<br>
	</form>
	<form id="createConnFromNodeToNodeModalForm" action="/createConnToNode" method="post" style="display: none">
		<table>
			<tr>
				<th colspan="2"><label>Connect two nodes:<label></th>
			</tr>
			<tr>
				<th><label for="createConnFromNodeToNodeModal_toNodeId">Arguing regarding the following node:</label></th><th><input type="number" id="createConnFromNodeToNodeModal_toNodeId" name="toNodeId" value=""></th>
			</tr>
			<tr>
				<th><label for="createConnFromNodeToNodeModal_fromNodeId">Arguing from the following node <br> (Node to connect):</label></th><th><input type="number" id="createConnFromNodeToNodeModal_fromNodeId" name="fromNodeId" value=""></th>
			</tr>
			<tr>
				<th><label for="createConnFromNodeToNodeModal_claim">Claim (1 for support, 0 for oppose):</label></th><th><input type="number" id="createConnFromNodeToNodeModal_claim" name="claim" value=""></th>
			</tr>
		</table>
		<br>
		<input type="submit" value="Submit">
		<br>
	</form>
	<br>
	<script>
		function toggleModal(){	
					if (document.getElementById("createNewNodeWithConnToNodeModalForm").style.display=="none"){
						document.getElementById("createNewNodeWithConnToNodeModalForm").style.display="block";
						document.getElementById("createConnFromNodeToNodeModalForm").style.display="none";
					} else {
						document.getElementById("createNewNodeWithConnToNodeModalForm").style.display="none";
                                                document.getElementById("createConnFromNodeToNodeModalForm").style.display="block";
					}
			
		}
	</script>
      </div>
    </div>
  </div>
</div>
