<!DOCTYPE html>
<html>
<head>
		<title>ArguMapIt</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
<style>
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.argumapitCustomCaret {
  cursor: pointer;
  color: black;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  margin-left: 10px;
}

.argumapitCustomCaret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.argumapitCustomCaret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

.refuteSectionDiv {
  border-left: thick solid #ff0000;
  margin-left: 10px
}

.supportSectionDiv {
  /*border-left: thick solid #ff0000;*/
  border-left: thick solid #008000;
  margin-left: 10px
}

{% include 'w3.css' %}

</style>
</head>
<body>
		{% include 'panel.html' %}
		{% include 'add-node-modal.html' %}
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/jquery-3.6.1.min.js"></script>
		<script>
			function showElement(id){
				el=document.getElementById(id);
				el.style.opacity=1;
			}
			function hideElement(id){
				el=document.getElementById(id);
				el.style.opacity=0;
			}
			
			// Function to draw connection lines
			function adjustLine(from, to, line){

			var fT = from.offsetTop  + from.offsetHeight/2;
			var tT = to.offsetTop    + to.offsetHeight/2;
			var fL = from.offsetLeft + from.offsetWidth/2;
			var tL = to.offsetLeft   + to.offsetWidth/2;
  
			var CA   = Math.abs(tT - fT);
			var CO   = Math.abs(tL - fL);
			var H    = Math.sqrt(CA*CA + CO*CO);
			var ANG  = 180 / Math.PI * Math.acos( CA/H );

			if(tT > fT){
				var top  = (tT-fT)/2 + fT;
			}else{
				var top  = (fT-tT)/2 + tT;
			}
			if(tL > fL){
				var left = (tL-fL)/2 + fL;
			}else{
				var left = (fL-tL)/2 + tL;
			}

			if(( fT < tT && fL < tL) || ( tT < fT && tL < fL) || (fT > tT && fL > tL) || (tT > fT && tL > fL)){
				ANG *= -1;
			}
			top-= H/2;

			line.style["-webkit-transform"] = 'rotate('+ ANG +'deg)';
			line.style["-moz-transform"] = 'rotate('+ ANG +'deg)';
			line.style["-ms-transform"] = 'rotate('+ ANG +'deg)';
			line.style["-o-transform"] = 'rotate('+ ANG +'deg)';
			line.style["-transform"] = 'rotate('+ ANG +'deg)';
			line.style.top    = top+'px';
			line.style.left   = left+'px';
			line.style.height = H + 'px';
		}
//adjustLine(
//  document.getElementById('div1'), 
//  document.getElementById('div2'),
//  document.getElementById('line')
//);
		</script>
<!--
	</body>
</html>
-->
