<script>
var toggler = document.getElementsByClassName("argumapitCustomCaret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("argumapitCustomCaret-down");
  });
}
</script>
<script>

function openAddNodeModal(toNodeId, claim){
	document.getElementById('id01').style.display='block';
	document.getElementById('addNodeModal_toNodeId').value=toNodeId;
	document.getElementById('addNodeModal_claim').value=claim;

	document.getElementById('createConnFromNodeToNodeModal_toNodeId').value=toNodeId;
	document.getElementById('createConnFromNodeToNodeModal_claim').value=claim;
}

</script>
</body>
</html>
