<style>
ul { list-style-type: none }
</style>
<ul id="myUL">
      <li>
     
<table border="1" cellspacing="0" cellpadding="4" onmouseenter="showElement('supportButtonNode1'); showElement('refuteButtonNode1')" onmouseleave="hideElement('supportButtonNode1'); hideElement('refuteButtonNode1')">
<tr> <td><span>Node_Id: 1</span>
</br>
<span>Statement: Pigs can fly</span>
</br><button type="button" id="supportButtonNode1" style="color: blue; align: left; opacity: 0;">Support</button><button type="button" id="refuteButtonNode1" style="color: red; float: right; opacity: 0;">Refute</button>
</td> </tr>
</table>

       <ul class="nested">
          <li>
		  <table border="1" cellspacing="0" cellpadding="4" onmouseenter="showElement('supportButtonNode10'); showElement('refuteButtonNode10')" onmouseleave="hideElement('supportButtonNode10'); hideElement('refuteButtonNode10')">
<tr> <td><span style="color:green">SUPPORTING </span><span>Node_Id: 10</span>
</br>
<span>Statement: Pigs can ride planes.</span>
</br><button type="button" id="supportButtonNode10" style="color: blue; align: left; opacity: 0;">Support</button><button type="button" id="refuteButtonNode10" style="color: red; float: right; opacity: 0;">Refute</button>
</td> </tr>
</table>
	  
	  </li>
          <li>White Tea</li>
          <li><span class="caret">Green Tea</span>
            <ul class="nested">
              <li>Sencha</li>
              <li>Gyokuro</li>
              <li>Matcha</li>
              <li>Pi Lo Chun</li>
            </ul>
          </li>
        </ul>
      </li>  
</ul>

     <script>
                        function showElement(id){
                                el=document.getElementById(id);
                                el.style.opacity=1;
                        }
                        function hideElement(id){
                                el=document.getElementById(id);
                                el.style.opacity=0;
                        }
                </script>


<!--
<table border="1" cellspacing="0" cellpadding="4" onmouseenter="showElement('supportButtonNode{{ nid }}'); showElement('refuteButtonNode{{ nid }}')" onmouseleave="hideElement('supportButtonNode{{ nid }}'); hideElement('refuteButtonNode{{ nid }}')">
<tr> <td><span>Node_Id: {{ nid }}</span>
</br>
<span>Statement: {{ content }}</span>
</br><button type="button" id="supportButtonNode{{ nid }}" style="color: blue; align: left; opacity: 0;">Support</button><button type="button" id="refuteButtonNode{{ nid }}" style="color: red; float: right; opacity: 0;">Refute</button>
</td> </tr>
</table>
-->
