<li>
	<div class="card w-50" onmouseenter="showElement('supportButtonNode{{ nid }}'); showElement('refuteButtonNode{{ nid }}')" onmouseleave="hideElement('supportButtonNode{{ nid }}'); hideElement('refuteButtonNode{{ nid }}')">
		<div class="card-header"><a href="/browse?id={{ nid }}">Node_Id: {{ nid }}</a></div>
		<span>Statement: {{ content }}</span>
</br>
<table><tr><td><button class="btn btn-danger" type="button" id="refuteButtonNode{{ nid }}" style="float: left; opacity: 0;" onclick="openAddNodeModal('{{ nid }}', '0')">Refute</button></td><td><button class="btn btn-success"type="button" id="supportButtonNode{{ nid }}" style="float: right; opacity: 0;" onclick="openAddNodeModal('{{ nid }}', '1')">Support</button></td></tr>
</table>
	</div>
</li>

