<table border="2" cellspacing="0" cellpadding="10" style="position: fixed; top: 5px; right:5px">
<tr> <td>
<form action="/create" method="post">
  <label for="node_content_input_element">Create New Node:</label><br>
  <input type="text" id="node_content_input_element" name="content"><br>
  <input type="submit" value="Submit">
</form>
</td> </tr>
</table>


